.Rproj.user
.Rhistory
.RData
.Ruserdata
ClosestDodgers.png
FarthestDodgers.pngs
Rplot.png
Rplot01.png
Rplot02.png
Rplot03.png
Rplot04.png
adj_leaderboard22.csv
adj_leaderboard23.csv
aidanmiller.png
avg-pf-lg.png
avg_pitcher_elev_z.csv
bat_speed_ev.png
beeter.png
benefit200.png
beta1_3.png
beta43_133.png
beta44_133.png
beta8_24.png
beta_w_like.png
beta_w_like_and_post.png
better_players.png
better_players_pf.png
bigger_dots.png
birdsong-percentiles.png
bremner.png
brooks-lee-college.png
brooks-lee-pro.png
busch.png
canario8.31.png
catboost_info/
cecconi.png
chourio_grid.png
chourio_tbl.png
closestfarthestcombined.png
color_top.png
colson1.png
condensedleaders.png
croe-milb0612.csv
croe-tm-tripla.csv
croe-triplea.csv
croe_bot10.png
croe_bottom.png
croe_top.png
cubs-fb.png
cubs_hit.png
damiano.png
diff_pf.png
dominguez1.png
dotf_sim_scores.csv
double_a_pbp2018.csv
double_a_pbp2019.csv
double_a_pbp2020.csv
double_a_pbp2021.csv
double_a_pbp2022.csv
double_a_pbp2023.csv
draft_merge.csv
elev_mod.rds
erlin-v-harrison-loc.png
erlin-v-harrison-mvmt.png
escanio.png
ev-aging-data.csv
ev5.7.png
ev_influence.png
extreme_pf.png
fabian-college.png
fastest_milb.png
fastest_milb2.png
fastest_milb_top3.png
fb-vs-xwobacon.png
ferris.png
fsl-agg-pitcher.csv
fsl-batted-ball-0925.csv
fsl-plot-0925.png
fsl-plot-925.png
fsl2023.csv
g1.png
g2.png
green-changepoint.png
greg-jones-percentiles.png
group_avg.png
harrison-v-erlin.png
high_a_pbp2018.csv
high_a_pbp2019.csv
high_a_pbp2020.csv
high_a_pbp2021.csv
high_a_pbp2022.csv
high_a_pbp2023.csv
hitter_mle.png
hitter_style_by_org.csv
holliday.png
home_run-v-adj_home_Run.png
homer-regression.png
hr-percentile-holliday.png
hr_benfit.png
hr_hurt.png
hr_per_park.png
hr_pk23.png
hs-whiff-chase.png
hurt200.png
hurtmost.png
iowa_cubs_dat.csv
iowa_cubs_hit.csv
iriarte0618.png
ivb-diag-plot.png
ivb-plot-bad.png
jett-la-hist.png
jett-la.png
jett2.png
jorge-plot.png
jorge-sd.png
just_omaha.csv
justin-crawford-la.png
klassen_college.png
klassen_college2.png
klassen_pro.png
knoth-percentiles.png
lb23.png
least-ev.png
lidom1.csv
lin-double-a.png
lin-high-a.png
max-clark-hit.png
max-clark-power.png
mcdermottt0505.png
milb-agg-pitcher.csv
milb-sprint-speed2024.csv
milb2023-4-27.csv
milb2023-4-30.csv
milb_game.RDS
milb_h_leaderboard.csv
milb_out.png
milb_park_effects18.csv
milb_park_effects19.csv
milb_park_effects21.csv
milb_park_effects22.csv
milb_park_effects23-wpf.csv
milb_park_effects23.csv
milb_pbp_2018.csv
milb_pbp_2019.csv
milb_pbp_2021.csv
milb_pbp_2022.csv
milb_pbp_2023.csv
milb_sprint_speed2023.csv
milbpbp2024.csv
misirowski_fg.png
mlb-AAA-FSL-statcast.csv
milb-triple-a-mvmt052023.csv
mlb2022-40ft.csv
FarthestDodgers.png
benefit-ev.png
hector rodriguez plots.png
hitting_style_by_org.csv
mlb-triple-a-mvmt052023.csv
mlbvtripa1.png
mlbvtripa2.png
mlbvtripa3.png
new200.png
nmeyer0504.png
oaa_correlation.png
oaa_david_hist.png
oaa_david_pp.png
oaa_hareeb_pp.png
oaa_mod1_hist.png
olivar9-25.png
one_dec.png
pad_bv_lvl.png
padding2.0.png
padding_test2.csv
padval2.png
patrience_teams.png
pf_slash.png
pfaadt.csv
pfaadt_data.png
pitcher_mle.png
power_teams.png
prep-hitter-pd.png
probnotenuf2.png
r_pk23.png
runs_park_effect18.csv
runs_park_effect19.csv
runs_park_effect21.csv
runs_park_effect22.csv
runs_park_effect23.csv
rushing-college.png
saberseminar1.png
saberseminar2.png
sandlin-single-a.png
sean-sullivan-high-a.png
sean-sullivan.png
yf2.png
yanquiel-fernandez-plot.png
xmov-bad.png
xivb-avg2.png
xivb-avg1.png
xavier-isaac-single-a.png
williams-changepoint.png
wilcox0618.png
wiggings.png
whisenhunt2.png
whisenhunt-fg.png
walk_reg.png
walk-reg.png
walcott-changepoint.png
waino_tbl.png
waino-mvmt.png
victor_scott_tbl.png
velo5.7.png
vb5.7.23.png
updated_beta_w_like_and_post.png
triple_a_pbp2018.csv
triple_a_pbp2019.csv
triple_a_pbp2021.csv
triple_a_pbp2022.csv
triple_a_pbp2023.csv
triple_a_pbp22.csv
triple-a-statcast-smry8-31.csv
triple-a-statcast-smry9-30.csv
patience_teams.png
single_a_pbp2018.csv
single_a_pbp2019.csv
single_a_pbp2021.csv
single_a_pbp2022.csv
single_a_pbp2023.csv
speed_teams.png
sprint_speed_df.csv
sprint_speed_pred.png
sprint_speed_pred2.png
stlhit.png
strikeout-leaders.png
surethisisntgoodenough.png
t1.png
t2.png
table1.html
termarr-bb-k.png
termarr-la.png
termarr-la2.png
test-doubleaa-pad.csv
test1.png
test2.png
testing1.png
tong0413.png
top-prospect.png
top1.png
top10_Croe.png
top2.png
top3.png
top4.png
top5.png
top6.png
top7.png
triple-a-2023-828.csv
triple-a-elev2.png
triple-a-pbp.csv
triple-a-pf-pt1.csv
triple-a-statcast-smry8-31.csv
triple-a-statcast-smry9-30.csv
wiggins.png